* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    width: 100%;
}



#container {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 12px;
    border-radius: 6px;
    max-width: 300px;
}

#container label,
#container button,
#container input {
  display: block;
  margin-bottom: 6px;
};

#month-label {
  font-size: 1.2rem;
  margin-bottom: 8px;
};

#legend {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 200px;
    color: white;
    margin-top: 10px;
}

.legend-label {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: bold;
}

.legend-bar {
    height: 15px;
    width: 100%;
    background: linear-gradient(to right,
    hsl(240, 100%, 50%), 
    hsl(120, 100%, 50%),  
    hsl(0, 100%, 50%)     
    );
    border: 1px solid white;
    margin-bottom: 4px;
}


.legend-range {
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
}

#tooltip {
    position: absolute;
    padding: 4px 8px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 12px;
    border-radius: 4px;
    pointer-events: none;
    display: none;
    z-index: 20;
}